<!DOCTYPE html>
<html>
  <head>
    <title>Jeffrey Martinez</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Jeffrey Martinez</h1>
    <a href="/skills">My Dev Skills</a>
  </body>
</html>
